<%- include('../partials/header')  %>

<head>
    <link rel='stylesheet' type='text/css' href='/css/home.css'>
    <link rel='stylesheet' type='text/css' href='/css/solana-page.css'>
</head>

<h1 id="title">Solana</h1>

<div class="container">
    <% Tokens.forEach(function(token) { %>
        <div class="token-container">
            <h1><%= token.acronym %></a>
            <h2><%= token.name %></h2>
            <h3><%= token.priceUsd %></h3>
            <h5><%= token.ca %></h5>
            <img class="responsive-image" src="<%= token.image %>" alt="Token Image">
            <button id="especificTokenPage" onclick="
            window.location.href = '/solana/token/<%= token.ca %>';
            ">Go to specific token page</button>
        </div>
    <% }); %>
</div>

<div class="pagination">
    <button id="prev" onclick="changePage('prev')">Previous</button>
    <button id="next" onclick="changePage('next')">Next</button>
</div>



<script>
    const totalPages = Math.floor( <%= ListSize %> /5)+1;
    let currentPage = <%= pg %>
</script>

<script src="/js/solana.js" defer></script>

<%- include('../partials/footer')  %>